mcs2024_processed_data/
mcs2023_processed_data/
mcs2022_processed_data/
mcs2021_processed_data/
mcs2020_processed_data/
mcs2019_processed_data/
mcs2018_processed_data/
mcs2017_processed_data/
mcs2016_processed_data/
mcs2015_processed_data/
mcs2014_processed_data/
mcs2013_processed_data/
mcs2012_processed_data/
mcs2011_processed_data/
mcs2010_processed_data/
mcs2009_processed_data/
mcs2008_processed_data/
mcs2007_processed_data/
mcs2006_processed_data/
mcs2005_processed_data/
mcs2004_processed_data/
mcs2003_processed_data/
mcs2002_processed_data/
mcs2001_processed_data/
mcs2000_processed_data/
mcs1999_processed_data/
mcs1998_processed_data/
mcs1997_processed_data/
mcs1996_processed_data/
raw_data/
